<div class="row">
  <div class="col-7">
    <div class="row mb-2">
      <div class="col-6 ">
        <input (change)="recherche($event)">
      </div>
      <div class="col-6">
        <button class="btn bg-black text-white" (click)="createEntreprise()">
          <span>
            Ajouter une entreprise
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <div class="row mb-2">
      <div class="col-6">
        <select (change)="this.selectChange($event)" class="form-select">
          <option [selected]="true" selected disabled [ngValue]="null">Choisissez la colonne</option>
          <option *ngFor="let name of this.displayNameSelect">
            {{name }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <button class="btn bg-black text-white" (click)="changeDisplayColumn(this.name)">Ajouter</button>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>
      <span>
        Opération
      </span>
    </th>
    <th *ngIf="displayColumn['Nom de l\'entreprise']">
      <span>
        Nom de l'entreprise
      </span>
    </th>
    <th *ngIf="displayColumn['Numéro de l\'entreprise']">
      <span>
        Numéro de l'entreprise
      </span>
      <button class="btn bg-black" (click)=" changeDisplayColumn('Numéro de l\'entreprise')"><i
        class="fas fa-minus text-white"></i></button>
    </th>
    <th *ngIf="displayColumn['Nom du contact']">
      <span>
        Nom du contact
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Nom du contact')"><i
        class="fas fa-minus text-white"></i></button>
    </th>
    <th *ngIf="displayColumn['Nom du responsable']">
      <span>
        Nom du responsable
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Nom du responsable')"><i
        class="fas fa-minus text-white"></i>
      </button>
    </th>
    <th *ngIf="displayColumn['Adresse']">
      <span>
        Adresse
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Adresse')"><i class="fas fa-minus text-white"></i>
      </button>
    </th>
    <th *ngIf="displayColumn['Telephone de l\'entreprise']">
      <span>
        Téléphone
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Telephone de l\'entreprise')"><i
        class="fas fa-minus text-white"></i></button>
    </th>
    <th *ngIf="displayColumn['Fax de l\'entreprise']">
      <span>
        Fax
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Fax de l\'entreprise')"><i
        class="fas fa-minus text-white"></i>
      </button>
    </th>
    <th *ngIf="displayColumn['Email']">
      <span>
        Email
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Email')"><i class="fas fa-minus text-white"></i>
      </button>
    </th>
    <th *ngIf="displayColumn['Observation']">
      <span>
        Observation
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Observation')"><i class="fas fa-minus text-white"></i>
      </button>
    </th>
    <th *ngIf="displayColumn['Site de l\'entreprise']">
      <span>
        Site
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Site de l\'entreprise')"><i
        class="fas fa-minus text-white"></i>
      </button>
    </th>
    <th *ngIf="displayColumn['Specialite']">
      <span>
       Specialité
      </span>
      <button class="btn bg-black" (click)="changeDisplayColumn('Specialite')"><i class="fas fa-minus text-white"></i>
      </button>
    </th>
  </thead>
  <tbody>
  <ng-container *ngFor="let ent of entreprisesRecherche">
    <tr scope="row">
      <td style="width: 120px">
        <div class="row p-1 ">
          <div class="col-6">
            <button class="btn border-dark four-buttons" (click)="redirectToDetailsEntreprise(ent)"><i
              class="fas fa-eye"></i></button>
          </div>
          <div class="col-6">
            <button class="btn border-dark four-buttons" (click)="redirectToInscription()"><i
              class="fa fa-handshake"></i></button>

          </div>
        </div>

        <div *ngIf="isProf" class="row p-1">
          <div class="col-6">
            <button class="btn border-dark four-buttons" (click)="updateEnteprise(ent)"><i
              class="fas fa-pencil-alt"></i></button>
          </div>
          <div class="col-6">
            <button class="btn border-dark four-buttons" (click)="supprimerEntreprise(ent.numEntreprise)"><i
              class=" fa fa-times"></i></button>
          </div>
        </div>
      </td>
      <td *ngIf="displayColumn['Nom de l\'entreprise']">{{ent.raisonSociale}}</td>
      <td *ngIf="displayColumn['Numéro de l\'entreprise']">{{ent.numEntreprise}}</td>
      <td *ngIf="displayColumn['Nom du contact']">{{ent.nomContact}}</td>
      <td *ngIf="displayColumn['Nom du responsable']">{{ent.nomResp}}</td>
      <td
        *ngIf="displayColumn['Adresse']">{{ent.rueEntreprise + ' ' + ent.cpEntreprise + ' ' + ent.villeEntreprise}}</td>
      <td *ngIf="displayColumn['Telephone de l\'entreprise']">{{ent.telEntreprise}}</td>
      <td *ngIf="displayColumn['Fax de l\'entreprise']">{{ent.faxEntreprise}}</td>
      <td *ngIf="displayColumn['Email']">{{ent.email}}</td>
      <td *ngIf="displayColumn['Observation']">{{ent.observation}}</td>
      <td *ngIf="displayColumn['Site de l\'entreprise']">
        <a [href]="ent.siteEntreprise"> <i class="fas fa-link"></i></a>
      </td>
      <td *ngIf="displayColumn['Specialite']"><span>{{getSpecialite(ent.numEntreprise)}}</span></td>

    </tr>

  </ng-container>
  </tbody>
</table>
