<!--TODO : gestion required + error + retour reponse http-->
<table>
  <form action="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <thead style="background-color: #3050F0">
    <tr>
      <th><label class="text-white">Informations concernant l'étudiant :</label></th>
      <th></th>
    </tr>
    </thead>
    <!-- Nom  -->
    <tr>
      <th><label class="required">Nom :</label></th>
      <th><input mdbValidate type="text" name="nom" required formControlName="nom" ng-model="nom"/></th>
    </tr>

    <!-- Prenom  -->
    <tr>
      <th><label class="required">Prenom :</label></th>
      <th><input type="text" name="prenom" required formControlName="prenom"/></th>
    </tr>

    <!-- username  -->
    <tr>
      <th><label class="required">Nom d'utilisateur (8 caractères) :</label></th>
      <th><input type="text" name="username" minlength="8" maxlength="8" required formControlName="username"/></th>
    </tr>

    <!-- password  -->
    <tr>
      <th><label class="required">Mot de passe (entre 8 et 30 caractères) :</label></th>
      <th><input type="text" minlength="8" maxlength="30" name="pass" required formControlName="pass"/></th>
    </tr>

    <!-- Nom  -->
    <tr>
      <th><label>Date d'obtention du BTS :</label></th>
      <th><input type="date" name="dateObtention" formControlName="dateObtention"/></th>
    </tr>

    <!-- Classe  -->
    <tr>
      <th><label class="required">Classe </label></th>
      <th><select formControlName="classe" required>
        <option [selected]="true" selected disabled [ngValue]="null" n>Choisissez la classe</option>
        <option *ngFor="let cla of this.classes" [ngValue]="cla.numClasse">
          {{ cla.nomClasse }}
        </option>
      </select></th>
    </tr>
    <input type="submit" value="Créer l'étudiant">
  </form>
</table>
