<!--TODO : gestion required + error + retour reponse http-->
<form action="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div class="form-example">
    <label>Informations concernant l'étudiant </label>
    <!-- Nom  -->
    <div class="form-example">
      <label>Nom </label>
      <input type="text" name="nom" required formControlName="nom"/>
    </div>

    <!-- Prenom  -->
    <div class="form-example">
      <label>Prenom </label>
      <input type="text" name="prenom" required formControlName="prenom"/>
    </div>

    <!-- username  -->
    <div class="form-example">
      <label>Nom d'utilisateur (8 caractères) </label>
      <input type="text" name="username" required formControlName="username"/>
    </div>

    <!-- password  -->

    <div class="form-example">
      <label>Mot de passe (entre 8 et 30 caractères) </label>
      <input type="text" name="pass" required formControlName="pass"/>
    </div>

    <!-- Nom  -->

    <div class="form-example">
      <label>Date d'obtention du BTS </label>
      <input type="date" name="dateObtention" required formControlName="dateObtention"/>
    </div>

    <!-- Classe  -->
    <div class="form-example">
      <label>Classe </label>
      <select formControlName="classe" required>
        <option [ngValue]="null" disabled>Classe</option>
        <option *ngFor="let cla of this.classes" [ngValue]="cla.numClasse">
          {{ cla.nomClasse }}
        </option>
      </select>
    </div>


    <input type="submit" value="Créer le stage">

  </div>

</form>
