<!--TODO : gestion required + error + retour reponse http + message vert en bas de la page -->
<form action="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">

  <div class="form-example">
    <h1>Information </h1>
    <!-- Entreprise  -->
    <div class="form-example">
      <label>Nom de l'entreprise </label>
      <input type="text" name="nomEntreprise" formControlName="nomEntreprise">
    </div>

    <!-- Entreprise  -->
    <div class="form-example">
      <label>Nom du contact </label>
      <input type="text" name="nomContact" formControlName="nomContact">
    </div>

    <!-- Entreprise  -->
    <div class="form-example">
      <label>Nom du responsable </label>
      <input type="text" name="nomResp" formControlName="nomResp">
    </div>
  </div>

  <div class="form-example">
    <h1>Contact </h1>

    <!-- Entreprise  -->
    <div class="form-example">
      <label>Rue </label>
      <input type="text" name="rue" formControlName="rue">
    </div>

    <!-- Entreprise  -->
    <div class="form-example">
      <label>Code postal </label>
      <input type="text" name="codePostal" formControlName="codePostal">
    </div>


    <!-- Entreprise  -->
    <div class="form-example">
      <label>Ville </label>
      <input type="text" name="ville" formControlName="ville">
    </div>

    <!-- description -->
    <!-- Entreprise  -->
    <div class="form-example">
      <label>Téléphone </label>
      <input type="tel" name="tel" formControlName="tel">
    </div>

    <!-- Entreprise  -->
    <div class="form-example">
      <label>Fax </label>
      <input type="text" name="fax" formControlName="fax">
    </div>

    <!-- Entreprise  -->
    <div class="form-example">
      <label>Email </label>
      <input type="email" name="mail" formControlName="mail">
    </div>

    <div class="form-exemple">
      <h1>Divers</h1>
      <div class="form-example">
        <label>Observation </label>
        <textarea name="obs" formControlName="obs">

        </textarea>
      </div>

      <!-- Entreprise  -->
      <div class="form-example">
        <label>Url de site </label>
        <input type="url" name="url" formControlName="url">
      </div>

      <!-- Entreprise  -->
      <div class="form-example">
        <label>Niveau </label>
        <input type="text" name="niveau" formControlName="niveau">
      </div>

    </div>


    <div class="form-example">
      <label>Email </label>
      <input type="email" name="mail" formControlName="mail">
    </div>
  </div>

  <div class="form-exemple">
    <h1>Spécialité</h1>
    <div class="form-example">
      <label>Entreprise </label>
      <select formControlName="entreprise" required>
        <option [ngValue]="null" disabled>Choisissez l'enterprise</option>
        <option *ngFor="let spe of this.specialites" [ngValue]="spe.num_spec">
          {{ spe.libelle }}
        </option>
      </select>
    </div>
  </div>

  <input type="submit" value="Créer le stage">


</form>
