<form action="" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <thead style="background-color: #3050F0">
  <tr>
    <th><label class="text-white">Contact :</label></th>
    <th></th>
  </tr>
  </thead>
  <!-- Entreprise  -->
  <tr>
    <th><label class="required">Entreprise </label></th>
    <th><select formControlName="entreprise" required>
      <option [selected]="true" selected disabled [ngValue]="null">Choisissez l'enterprise</option>
      <option *ngFor="let ent of this.entreprises" [ngValue]="ent.numEntreprise">
        {{ ent.raisonSociale }}
      </option>
    </select></th>
  </tr>

  <!-- Etudiant  -->
  <tr>
    <th><label class="required">Etudiant </label></th>
    <th><select formControlName="etudiant" required>
      <option [selected]="true" selected disabled [ngValue]="null">Choisissez l'étudiant</option>
      <option *ngFor="let etu of this.etudiants" [ngValue]="etu.numEtudiant">
        {{ etu.nomEtudiant + ' ' + etu.prenomEtudiant }}
      </option>
    </select></th>
  </tr>

  <!-- professeur  -->
  <tr>
    <th><label class="required">Professeur </label></th>
    <th><select formControlName="professeur" required>
      <option [selected]="true" selected disabled [ngValue]="null">Choisissez le professeur</option>
      <option *ngFor="let pro of this.professeurs" [ngValue]="pro.numProf">
        {{ pro.nomProf + ' ' + pro.prenomProf}}
      </option>
    </select></th>
  </tr>
  <thead style="background-color: #3050F0">
  <tr>
    <th><label class="text-white">Description du stage :</label></th>
    <th></th>
  </tr>
  </thead>
  <!-- date début  -->
  <tr>
    <th><label class="required">Date de début </label></th>
    <th><input type="date" name="debut" required formControlName="dateDebut"/></th>
  </tr>

  <!-- date fin  -->
  <tr>
    <th><label class="required">Date de début </label></th>
    <th><input type="date" name="fin" required formControlName="dateFin"/></th>
  </tr>


  <!-- type de stage  -->
  <tr>
    <th><label class="required">Type de stage </label></th>
    <th><select formControlName="type" required>
      <option [selected]="true" selected disabled [ngValue]="null">Choisissez le type de stage</option>
      <option *ngFor="let typ of this.types" [ngValue]="typ">
        {{ typ }}
      </option>
    </select></th>
  </tr>

  <!-- description -->
  <tr>
    <th><label>Description du projet </label></th>
    <th><textarea name="description" formControlName="description"></th>

      </textarea>

  </tr>

  <!-- observation -->
  <tr>
    <th><label>Observation </label></th>
    <th><textarea name="observation" formControlName="observation"></th>

      </textarea>

  </tr>
  <input type="submit" value="Créer le stage">
</form>

<div class="row pt-2">
  <div class="col-1"></div>
  <div class="col-4">
    <div class="alert alert-success" role="alert">
      Les champs comportant le symbole <span class="required"></span> sont obligatoires !
    </div>
  </div>
  <div class="col-1"></div>
</div>
