<form action="" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div class="form-example">
    <label>Contact </label>
    <!-- Entreprise  -->
    <div class="form-example">
      <label>Entreprise </label>
      <select formControlName="entreprise">
        <option [ngValue]="null" disabled>Choisissez l'enterprise</option>
        <option *ngFor="let ent of this.entreprises" [ngValue]="ent.numEntreprise">
          {{ ent.raisonSociale }}
        </option>
      </select>
    </div>

    <!-- Etudiant  -->
    <div class="form-example">
      <label>Etudiant </label>
      <select formControlName="etudiant">
        <option [ngValue]="null" disabled>Choisissez l'étudiant</option>
        <option *ngFor="let etu of this.etudiants" [ngValue]="etu.numEtudiant">
          {{ etu.nomEtudiant + ' ' + etu.prenomEtudiant }}
        </option>
      </select>
    </div>

    <!-- professeur  -->
    <div class="form-example">
      <label>Professeur </label>
      <select formControlName="professeur">>
        <option [ngValue]="null" disabled>Choisissez le professeur</option>
        <option *ngFor="let pro of this.professeurs" [ngValue]="pro.numProf">
          {{ pro.nomProf + ' ' + pro.prenomProf}}
        </option>
      </select>
    </div>
  </div>

  <div class="form-example">
    <label>Description du stage </label>

    <!-- date début  -->
    <div class="form-example">
      <label>Date de début </label>
      <input type="date" name="debut" formControlName="dateDebut"/>
    </div>

    <!-- date fin  -->
    <div class="form-example">
      <label>Date de début </label>
      <input type="date" name="fin" formControlName="dateFin"/>
    </div>


    <!-- type de stage  -->
    <div class="form-example">
      <label>Type de stage </label>
      <select formControlName="type">
        <option [ngValue]="null" disabled>Choisissez le type de stage</option>
        <option *ngFor="let typ of this.types" [ngValue]="typ">
          {{ typ }}
        </option>
      </select>
    </div>

    <!-- description -->
    <div class="form-example">
      <label>Description du projet </label>
      <textarea name="description" formControlName="description">

      </textarea>

    </div>

    <!-- observation -->
    <div class="form-example">
      <label>Observation </label>
      <textarea name="observation" formControlName="observation">>

      </textarea>

    </div>

    <input type="submit" value="Créer le stage">

  </div>

</form>
